//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "account/variables";
@import "account/typography";
@import "fontawesome/font-awesome";
@import "account/header";
@import "account/forms";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: $container_width;
}

hr {
  border-top: 2px solid $border_color;
  margin-top: 40px;
  margin-bottom: 40px;
}

.highlight_msg {
  border: 1px solid $border_color;
  border-radius: 4px;
  background: white;
  padding: 40px;
  margin-bottom: 30px;
  dt, dd {
    font-weight: 700;
    font-size: 20px;
    float: left;
  }
  dt {
    color: $highlight_font_color;
    clear: left;
  }
  dd {
    margin-left: 10px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.nav-tabs {
  border-bottom: 2px solid $border_color;

  > li {
    margin-right: 4%;
    > a {
      margin-right: 0;
      line-height: 60px;
      border: 0;
      text-decoration: none;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $body_font_color;
        background-color: transparent;
        border: 0;
        text-decoration: underline;
      }
    }
  }

}

.nav {
  > li {
    > a {
      padding: 0;
      white-space: nowrap;
      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}

.contributors_list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include clearfix;
    border-bottom: 2px solid $border_color;
    &:last-child {
      border: 0;
    }
  }
  h3, p {
    float: left;
    clear: left;
  }
  h3 {
    margin-bottom: 0;
  }
  aside {
    float: right;
    line-height: 132px;
  }
  a {
    text-decoration: none;
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  p, a {
    font-size: 14px;
  }
}

.purchase_steps {
  header {
    border-bottom: 2px solid $border_color;
    h4 {
      font-size: 40px;
      color: $highlight_font_color;
      margin-top: 30px;
    }
    h5 {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  section {
    display: none;
    @include clearfix;
  }
}

.sortable {
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 18px;
    &:before {
      @extend .fa;
      content: $fa-var-arrows;
      margin-right: 20px;
    }
    &:hover {
      cursor: move;
    }
  }
}

// HELPER CLASSES

// to remove bottom margin in the case the element need to be attached to footer for example.
.rbm {
  margin-bottom: -40px;
}
// THIS ADD MARGIN TOP TO FIELDSET
.atm {
  margin-top: 60px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
