//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "marketing/fonts";
@import "marketing/variables";
@import "marketing/typography";
@import "fontawesome/font-awesome";
@import "marketing/header";
@import "marketing/footer";
@import "marketing/forms";

body {
    background: #fcfbf8 url(../images/bg.jpg) 0 0 repeat;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  max-width: $container_width;
  &.grey-bg {
    background: #f1efe9;
    box-shadow: -$container_width 0 0 #f1efe9, $container_width 0 0 #f1efe9
  }
}

[role="main"] {
  > *:not(.teaser) {
    padding-top: 50px;
    padding-bottom: 50px;
    > .row:first-child {
      > [class*="col"]{
        > :first-child {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
    > .row:last-child {
      p{
        margin-bottom: 0;
      }
    }
  }
}

.saw-tooth {
  background-image: linear-gradient(135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-position: top center, top center, bottom center, bottom center, top center, bottom center;
  background-size: 0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem, 100% 1rem, 100% 1rem;
  background-repeat: repeat-x;
  .teaser & {
    margin: -200px 0;
    padding: 200px 0;
  }
}

.teaser {
    padding: 200px 0;
    background: center center no-repeat;
    background-size: cover;
    .teaser--title {
      @extend .sans-title;
      font-size: 80px;
      margin: 0 0 20px;
    }
    p {
      font-size: 22px;
    }
}

.services-list {
  margin: 0;
  padding: 0;
  li {
    background: top center no-repeat;
    background-size: 80%;
    list-style-position: inside;
    &:before {
      content: " ";
      display: block;
      text-align: left;
    }
  }
  h5 {
    margin-top: 230px;
    @extend .sans-title;
  }
}

.gallery-list {
  margin-bottom: -50px;
  a {
    margin-bottom: 50px;
  }
  img {
    box-shadow: 1px 1px 10px rgba(155, 155, 155, .6);
  }
}

.events-list {
  img {
    height: 100px;
  }
}

.prices-list {
  h4 {
      @extend .sans-title;
      margin: 0;
      line-height: 52px;
  }
  img {
    width: 120%;
    margin: 0 0 15px -10%;
  }
  > li {
    background: white;
    border-style: solid;
    border-color: $border_color;
    border-width: 1px 0 1px 1px;
    overflow: hidden;
    &:last-child {
      border-width: 1px 1px 1px 1px;
    }
  }
  ul {
    border-bottom: 1px solid $border_color;
    margin: 0;
    padding: 0 0 15px;
    li {
      line-height: 2;
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 24px;
  }
}

.testimonials-list {
  h5 {
      @extend .sans-title;
      margin: 0;
      line-height: 1.6;
      & + p {
        color: $highlight_font_color;
        margin-top: 0;
      }
  }
  img {
    width: 72px;
    height: 72px;
    border-radius: 36px,
  }
  p {
    &.quote {
      font-style: italic;
      margin-top: 0;
      background: white;
      padding: 25px;
      border: 1px solid $border_color;
    }
  }
}

.full-width {
  position: relative;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    @extend .sans-title;
    font-size: 30px;
  }
}

[role="call-to-action"] {
  text-align: center;
  @extend .sans-title;
  font-size: 32px;
  border-top: 2px solid $border_color;
  border-bottom: 2px solid $border_color;
  a {
    display: block;
    padding: 50px 0;
    color: $body_font_color;
    &:hover {
      background-color: $highlight_font_color;
      color: white;
      text-decoration: none;
      i {
        color: white;
      }
    }
  }
  i {
    color: $highlight_font_color;
  }
}

.collapse-title {
    text-align: left;
    padding: 25px 0 25px 20px;
    margin: 0;
    border-bottom: 1px solid $border_color;
    a {
      color: $body_font_color;
      display: block;
      &:after {
        @extend .fa;
        font-size: 1.2em;
        float: right;
      }
      &[aria-expanded="false"]:after {
        content: "\f078";
      }
      &[aria-expanded="true"]:after  {
        content: "\f077";
      }
      &:focus {
        text-decoration: none;
      }
    }
}

.collapse-content-title {
  font-size: 26px;
  color: $highlight_font_color;
}

.well {
  border: 0;
  border-bottom: 1px solid $border_color;
  box-shadow: none;
  margin: 0;
  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.contact-title {
  background: url(../images/icon-envelope.png) center right no-repeat;
  padding-right: 18%;
}

hr {
  border-top: 2px solid $border_color;
  margin-top: 50px;
  margin-bottom: 50px;
}

// HELPER CLASSES

// to remove bottom margin in the case the element need to be attached to footer for example.
.rbm {
  margin-bottom: -40px;
}
// THIS ADD MARGIN TOP TO FIELDSET
.atm {
  margin-top: 60px;
}
.white-text {
  color: white;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
