//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "marketing/fonts";
@import "marketing/variables";
@import "marketing/typography";
@import "fontawesome/font-awesome";
@import "marketing/header";
@import "marketing/footer";
@import "marketing/forms";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: $container_width;
  &.grey-bg {
    background: #f1efe9;
    box-shadow: -$container_width 0 0 #f1efe9, $container_width 0 0 #f1efe9
  }
}

[role="main"] {
  > section:not(.teaser) {
    padding: 50px 0;
  }
}

.teaser {
    padding: 200px 0;
    background: center center no-repeat;
    background-size: cover;
    .teaser--title {
      @extend .sans-title;
      font-size: 80px;
      margin: 0 0 20px;
    }
    p, .btn {
      font-size: 22px;
    }
    .btn {
      line-height: 64px;
    }
}

.services-list {
  margin: 0;
  padding: 0;
  li {
    background: top center no-repeat;
    background-size: 80%;
    list-style-position: inside;
    &:before {
      content: " ";
      display: block;
      text-align: left;
    }
  }
  h5 {
    margin-top: 230px;
    @extend .sans-title;
  }
}

.gallery-list {
  margin-bottom: -50px;
  a {
    margin-bottom: 50px;
  }
  img {
    box-shadow: 1px 1px 10px rgba(155, 155, 155, .6);
  }
}

// HELPER CLASSES

// to remove bottom margin in the case the element need to be attached to footer for example.
.rbm {
  margin-bottom: -40px;
}
// THIS ADD MARGIN TOP TO FIELDSET
.atm {
  margin-top: 60px;
}
.white-text {
  color: white;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
