//$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "marketing/variables";
@import "marketing/fonts";
@import "fontawesome/font-awesome";
@import "marketing/typography";
@import "marketing/header";
@import "marketing/footer";
@import "marketing/forms";
@import "marketing/jquery.fancybox";
@import "marketing/jquery.flexslider";

body {
    background: #fcfbf8 url(../images/bg.jpg) 0 0 repeat;
}

img {
  max-width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 100%;
  max-width: $container_width;
  overflow: hidden;
  &.grey-bg {
    background: #f1efe9;
    box-shadow: -$container_width 0 0 #f1efe9, $container_width 0 0 #f1efe9
  }
}

[role="main"] {
  > *:not(.teaser) {
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: $bp-tablet) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    > .row {
      > [class*="col"]{
        > :first-child {
          margin-top: 0;
          padding-top: 0;
        }
        > :last-child {
          margin-bottom: 0;
        }
      }
    }
    > .saw-tooth {
      margin: -50px 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.saw-tooth {
  background-image: linear-gradient(135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-position: top center, top center, bottom center, bottom center, top center, bottom center;
  background-size: 0.50rem 0.50rem, 0.50rem 0.50rem, 0.50rem 0.50rem, 0.50rem 0.50rem, 100% 1rem, 100% 1rem;
  background-repeat: repeat-x;
}

.teaser {
    &.flexslider {
      padding: 0;
      overflow: hidden;
      min-height: 694px;

      @media screen and (max-width: $bp-tablet) {
        min-height: 350px;
        height: 370px;
      }
    }
    &.newsletter {
      padding: 100px 0;

      @media screen and (max-width: $bp-tablet) {
        padding: 50px 0;
      }

      > .saw-tooth {
        margin: -100px 0;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: $bp-tablet) {
          margin: -50px 0;
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
    }
    picture {
        display: block;
        &:after {
          content: " ";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          @extend .saw-tooth;
          margin: 0;
          padding-top: 200px;
          padding-bottom: 200px;
        }
    }
}

.hp-icon {
  margin-top: 20px;
}

.services-list {
  margin: 0;
  padding: 0;
  li {
    background: top center no-repeat;
    background-size: 80%;
    list-style-position: inside;

    @media screen and (max-width: $bp-desktop) {
      background-size: 40%;
    }

    &:before {
      content: " ";
      display: block;
      text-align: left;
    }
  }
  h5 {
    margin-top: 230px;

    @media screen and (max-width: $bp-tablet) {
      margin-top: 40%;
    }
    @extend .sans-title;
  }
}

.gallery-list {
  margin-bottom: -50px;
  a {
    margin-bottom: 50px;
    &:before {
      @extend .fa;
      content: "\f00e";
      width: calc(100% - 29.5px);
      height: 100%;
      position: absolute;
      background-color: $highlight_font_color;
      opacity: .8;
      font-size: 1.5em;
      color: white;
      text-align: center;
      line-height: 204px;
      visibility: hidden;
    }
    &:hover:before {
      visibility: visible;
    }
  }
  img {
    box-shadow: 1px 1px 10px rgba(155, 155, 155, .6);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.events-list {
  padding-left: 0;
  img {
    height: 100px;

    @media screen and (max-width: $bp-tablet) {
        height: 50px;
    }
  }
}

.prices-list {
  padding-left: 0;
  h4 {
      @extend .sans-title;
      margin: 0;
      line-height: 52px;
  }
  img {
    width: 120%;
    margin: 0 0 15px -10%;
  }
  > li {
    background: white;
    border-style: solid;
    border-color: $border_color;
    border-width: 1px 1px 1px 1px;
    overflow: hidden;
    transition: all .2s ease;
    margin-right: -1px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      position: relative;
      z-index: 2;
      width: 40%;
      margin: -3.37%;
      box-shadow: 0px 0px 10px rgba(155, 155, 155, .7);
    }
  }
  ul {
    border-bottom: 1px solid $border_color;
    margin: 0;
    padding: 0 0 15px;
    li {
      line-height: 2;
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 24px;
  }
}

.testimonials {
  @media screen and (max-width: $bp-tablet) {
    margin-bottom: 30px;
  }
  .flex-direction-nav a {
    opacity: 1;
    &:before {
      color: $body_font_color;
    }
  }
  .flex-direction-nav .flex-prev {
    left: -40px;
  }
  .flex-direction-nav .flex-next {
    right: -40px;
  }
  .flex-control-nav {
    bottom: -20px;
    left: 0;
  }
}

.testimonials-list {
  h5 {
      @extend .sans-title;
      margin: 0;
      line-height: 1.6;
      & + p {
        color: $highlight_font_color;
        margin-top: 0;
      }
  }
  img {
    width: 72px;
    height: 72px;
    border-radius: 36px,
  }
  p {
    &.quote {
      font-style: italic;
      margin-top: 0;
      background: white;
      padding: 25px;
      border: 1px solid $border_color;
    }
  }
}

.full-width {
  position: relative;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 100%;
    text-align: center;
    color: white;
    @extend .sans-title;
    font-size: 30px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}

[role="call-to-action"] {
  text-align: center;
  @extend .sans-title;
  font-size: 32px;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  @media screen and (max-width: $bp-tablet) {
      font-size: 20px;
  }
  a {
    display: block;
    padding: 50px 0;
    color: $body_font_color;
    &:hover {
      background-color: $highlight_font_color;
      color: white;
      text-decoration: none;
      i {
        color: white;
      }
    }
  }
  i {
    color: $highlight_font_color;
  }
}

.collapse-title {
    text-align: left;
    padding: 25px 0 25px 20px;
    margin: 0;
    border-bottom: 1px solid $border_color;
    a {
      color: $body_font_color;
      display: block;

      @media screen and (max-width: $bp-tablet) {
          position: relative;
          padding-right: 25px;
      }

      &:after {
        @extend .fa;
        font-size: 1.2em;
        float: right;

        @media screen and (max-width: $bp-tablet) {
            float: none;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translatey(-50%);
        }
      }
      &[aria-expanded="false"]:after {
        content: "\f078";
      }
      &[aria-expanded="true"]:after  {
        content: "\f077";
      }
      &:focus {
        text-decoration: none;
      }
    }
}

.collapse-content-title {
  font-size: 26px;
  color: $highlight_font_color;

  @media screen and (max-width: $bp-tablet) {
    font-size: 18px;
  }
}

.well {
  border: 0;
  border-bottom: 1px solid $border_color;
  box-shadow: none;
  margin: 0;
  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.contact-title {
  background: url(../images/icon-envelope.png) center right no-repeat;
  padding-right: 18%;

  @media screen and (max-width: $bp-tablet) {
      background: none;
      padding-right: 15px;
  }
}

hr {
  border-top: 2px solid $border_color;
  margin-top: 50px;
  margin-bottom: 50px;
}

.scroll-down {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
  color: white;
  font-size: 2em;
  z-index: 20;
  opacity: .7;
  transition: all .5s ease;

  @media screen and (max-width: $bp-tablet) {
      display: none;
  }

  &:hover {
    bottom: 10px;
    color: white;
  }
}

// HELPER CLASSES

// to remove bottom margin in the case the element need to be attached to footer for example.
.rbm {
  margin-bottom: -40px;
}
// THIS ADD MARGIN TOP TO FIELDSET
.atm {
  margin-top: 60px;
}
.white-text {
  color: white;
}
