
$container_width: 1010px;

//$body_font_family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$alt_font_family:  "Georgia", sans-serif;
$body_font_color:  #484848;
//$alt_font_color:  #505050;
$highlight_font_color:  #f74c46;
$msg_font_color:  #2ab71b;

$border_color: #c7c7c4;
$border_color_forms: #9f9f9f;
