
[role="footer"] {
    padding: 60px 0;
    text-align: left;
    ul {
        list-style: none;
        padding: 0;
        line-height: 1;
    }
    li {
        margin-bottom: 22px;
    }
    .second-title {
        font-size: 24px;
    }
    a {
        color: $body_font_color;
    }
}

[role="social-navigation"] {
    i {
        font-size: 22px;
        color: $highlight_font_color;
        margin-right: 15px;
    }
}
