fieldset {
    position: relative;
    margin-bottom: 25px;

    @media screen and (max-width: $bp-tablet) {
      &:not(:first-child) {
          margin-bottom: 0;
      }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

[type=checkbox],
[type=radio] {
    z-index: -1000;
    position: absolute;
    left: -1000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    + label {
        display: inline-block;
        height: 28px;
        padding-left: 45px;
        font-size: 16px;
        vertical-align: middle;
        background-position: 0 0;
        background-repeat: no-repeat;
        cursor: pointer;
        background-image: url(../images/checkbox.png);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-user-select: none;
    }
    &:checked + label {
        background-position: 0 -28px;
    }
}

[type=text],
[type=number],
[type=email],
textarea {
    border: 1px solid $border_color_forms;
    border-radius: 4px;
    background-color: white;
    line-height: 50px;
    padding: 0 16px;
    display: block;
    width: 100%;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 25px !important;
    }

    &:focus {
      border: 1px solid $border_color_forms;
      outline: 0;
    }
    .teaser & {
      border-color: white;
      background: transparent;
      color: white;
    }
}


textarea {
  padding: 20px;
  line-height: 1.4em;
  font-size: 1.6em;
}

[type=submit] {
  border: 0;
  line-height: 47px;
  &.newsletter {
    background-color: $border_color_forms;
    width: 64px;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    .teaser & {
      background-color: transparent;
      border-left: 1px solid white;
    }
  }
}

.btn {
  @extend .sans-title;
  line-height: 56px;
  padding: 0 26px;
  border: 0;
  border-radius: 0;
  font-size: 22px;

  @media screen and (max-width: $bp-tablet) {
      font-size: 16px;
  }

  i {
    font-size: 1.45em;
    vertical-align: sub;
  }
  i[class*=right] {
    margin-left: 24px;
  }
  i[class*=left] {
    margin-right: 24px;
  }
}

.btn-big {
  line-height: 64px;

  @media screen and (max-width: $bp-tablet) {
      line-height: 2;
      white-space: normal;
      padding: 10px 13px;
  }
}

.btn-red {
  background-color: $highlight_font_color;
  color: #fff;
}

.btn-grey {
  background-color: $off_font_color;
}

.btn-bordered {
  border: 1px solid $border_color_forms;
}
