
[role="header"] {

}

[role="main-navigation"] {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    li {
        display: inline-block;
        a {
            margin: 0 15px;
            font-size: 18px;
            font-family: $sans_font_family;
            font-weight: bold;
            line-height: 100px;
        }
        &:first-child {
            a {
                margin-left: 0;
            }
        }
        &:last-child {
            a {
                margin-right: 0;
            }
        }
    }
}

.logo {
    float: left;
    display: block;
    width: 197px;
    height: 110px;
    background: url(../images/logo_marketing.png) center no-repeat;
}
