
$container_width: 1010px;

//$font-path:        "../fonts" !default;
$body_font_family:  "Arvo", Georgia, serif;
$sans_font_family:  "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$lettering_font_family:  "JaneAusten", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$title_font_family:  "Georgia", serif;

$body_background_color:  #fcfcfc;
$body_font_color:  #5e5e5c;

$highlight_font_color:  #f74c46;
$off_font_color:  #c7c7c4;
$msg_font_color:  #2ab71b;

$border_color: #c7c7c4;
$border_color_forms: #9f9f9f;
